@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&family=Roboto:wght@400;500;700&family=Spline+Sans:wght@300&display=swap");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?e0d2mr");
  src: url("../fonts/icomoon.eot?e0d2mr#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?e0d2mr") format("truetype"), url("../fonts/icomoon.woff?e0d2mr") format("woff"), url("../fonts/icomoon.svg?e0d2mr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-down-arrow:before {
  content: "\e903"; }

.icon-location:before {
  content: "\e900"; }

.icon-pointer:before {
  content: "\e901"; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

#header {
  padding: 20px 0;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    #header {
      padding-top: 30px;
      margin-bottom: 60px; } }

.header__flex,
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  width: 80px;
  margin-right: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: start;
      align-self: flex-start; }
  @media (min-width: 768px) {
    .logo {
      width: 160px;
      margin-right: 60px; } }
  .logo img {
    width: 100%;
    height: auto; }

.header__title,
.page-header {
  margin: 0 auto;
  width: 800px; }
  .header__title h1,
  .page-header h1 {
    color: #fff; }
    @media (min-width: 768px) {
      .header__title h1,
      .page-header h1 {
        font-size: 46px;
        line-height: 1; } }
  .header__title h2,
  .header__title strong,
  .header__title em,
  .page-header h2,
  .page-header strong,
  .page-header em {
    font-style: normal;
    font-weight: 500;
    margin-bottom: 4px;
    display: block; }
    @media (min-width: 768px) {
      .header__title h2,
      .header__title strong,
      .header__title em,
      .page-header h2,
      .page-header strong,
      .page-header em {
        font-size: 24px;
        line-height: 1;
        margin-bottom: 8px; } }
  .header__title .text__event,
  .page-header .text__event {
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    display: block;
    font: normal 12px/1 "Roboto", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    color: #fff;
    background: #224665;
    padding: 6px;
    border-radius: 28px;
    text-align: center;
    border: 1px dashed #fff; }
    @media (min-width: 768px) {
      .header__title .text__event,
      .page-header .text__event {
        padding: 10px;
        font-size: 18px; } }

::selection {
  color: #093154;
  background: #fff; }

::-webkit-input-placeholder {
  color: #757575; }

:-ms-input-placeholder {
  color: #757575; }

::placeholder {
  color: #757575; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #093154;
  color: rgba(255, 255, 255, 0.6);
  font: 16px/1.2 "Roboto", "Arial", "Helvetica Neue", "Helvetica", sans-serif; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0 0 10px;
  color: #fff; }

h1 {
  font-size: 22px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 16px; }

[type='text'],
[type='date'],
[type='number'],
select {
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  padding: 15px;
  width: 100%;
  border-radius: 2px;
  background-color: #071D31;
  outline: none;
  border: 1px solid transparent; }
  @media (min-width: 768px) {
    [type='text'],
    [type='date'],
    [type='number'],
    select {
      font-size: 16px;
      padding: 18px 19px 12px; } }
  [type='text']:focus,
  [type='date']:focus,
  [type='number']:focus,
  select:focus {
    border-color: #EB9A02; }
  .has-error [type='text'], .has-error
  [type='date'], .has-error
  [type='number'], .has-error
  select {
    border-color: #b53c0d; }

#wrapper {
  position: relative;
  overflow: hidden;
  z-index: 1; }

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px; }

.register__form .title {
  display: block;
  margin-bottom: 8px; }
  @media (min-width: 768px) {
    .register__form .title {
      font-size: 20px;
      line-height: 1;
      margin-bottom: 10px; } }

.register__form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px 16px; }

.register__form .form-group {
  margin-bottom: 12px; }

.register__form label {
  font-weight: 500;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 8px; }
  @media (min-width: 768px) {
    .register__form label {
      font-size: 20px;
      line-height: 1;
      margin-bottom: 10px; } }

.register__form .sr-only {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  opacity: 0;
  visibility: hidden; }

.register__form .error-message {
  color: #b53c0d;
  font: normal 12px/1 "Roboto", "Arial", "Helvetica Neue", "Helvetica", sans-serif; }
  @media (min-width: 768px) {
    .register__form .error-message {
      font-size: 14px; } }

.register__form [class^="col-"] {
  width: 100%;
  padding: 0 20px; }

@media (min-width: 768px) {
  .register__form .col-4 {
    width: 33.33%; } }

@media (min-width: 768px) {
  .register__form .col-6 {
    width: 50%; } }

.dropdown {
  position: relative; }
  .dropdown--active .dropdown-menu {
    opacity: 1;
    visibility: visible;
    position: absolute;
    z-index: 2; }
  .dropdown--active .icon-down-arrow {
    -webkit-transform: rotateZ(180deg);
        -ms-transform: rotate(180deg);
            transform: rotateZ(180deg); }
  .dropdown a {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    color: #757575;
    letter-spacing: 0.5px;
    border-radius: 2px;
    border: 1px solid transparent;
    outline: 1px solid transparent; }
    @media (min-width: 768px) {
      .dropdown a {
        font-size: 16px; } }
    .dropdown a:focus {
      border-color: #EB9A02; }
  .dropdown .icon-down-arrow {
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    font-size: 8px;
    line-height: 1;
    color: #757575;
    position: absolute;
    top: 40%;
    right: 20px; }

.dropdown-opener {
  padding: 15px 16px;
  background: #071D31; }

.dropdown-menu {
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  background: #071D31;
  border-radius: 2px;
  margin: 0;
  padding-left: 10px;
  position: absolute;
  right: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }
  .dropdown-menu .selected {
    display: none; }
  .dropdown-menu li {
    list-style: none;
    padding: 10px 10px 10px 6px; }

.form__checkbox {
  font: 400 12px/1.2 "Roboto", "Arial", "Helvetica Neue", "Helvetica", sans-serif; }
  @media (min-width: 768px) {
    .form__checkbox {
      font-size: 14px; } }
  @media (min-width: 768px) {
    .form__checkbox label {
      font-size: 14px; } }
  .form__checkbox a {
    font: 12px/1 "Roboto", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    text-decoration: none;
    color: #F8E5AD;
    letter-spacing: 0.5px;
    border: 1px solid transparent;
    outline: 1px solid transparent; }
    .form__checkbox a:hover {
      -webkit-transition: 0.3s 0.3s ease-in-out, ease-in-out 0.3s ease-in-out, -webkit-transition 0.3s ease-in-out;
      transition: 0.3s 0.3s ease-in-out, ease-in-out 0.3s ease-in-out, -webkit-transition 0.3s ease-in-out;
      transition: transition 0.3s ease-in-out, 0.3s 0.3s ease-in-out, ease-in-out 0.3s ease-in-out;
      transition: transition 0.3s ease-in-out, 0.3s 0.3s ease-in-out, ease-in-out 0.3s ease-in-out, -webkit-transition 0.3s ease-in-out;
      color: #EB9A02; }
    .form__checkbox a:focus {
      border-color: #EB9A02; }
    @media (min-width: 768px) {
      .form__checkbox a {
        font-size: 14px; } }
  .form__checkbox [type='checkbox'] {
    width: 10px;
    height: 10px;
    margin: 0 8px 0 0;
    outline: 1px solid transparent;
    border: 1px solid #EB9A02; }
    .form__checkbox [type='checkbox']:focus {
      outline-color: #EB9A02; }
    @media (min-width: 768px) {
      .form__checkbox [type='checkbox'] {
        width: 14px;
        height: 14px;
        margin-right: 15px; } }

.text__rules {
  margin-bottom: 30px !important; }
  .text__rules span {
    display: block;
    margin-bottom: 8px; }

.background-image {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1; }
  .background-image img {
    width: 100%;
    height: auto;
    object-fit: cover; }

.button__register {
  text-align: center;
  margin-bottom: 40px; }
  .button__register [type='button'] {
    max-width: 200px;
    width: 100%;
    font-weight: 500;
    color: #093154;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid transparent;
    outline: 1px solid transparent;
    background: -webkit-linear-gradient(right bottom, #EB9B04, #F8E5AD, #EADA3D);
    background: linear-gradient(to left top, #EB9B04, #F8E5AD, #EADA3D); }
    @media (min-width: 768px) {
      .button__register [type='button'] {
        font-size: 20px;
        line-height: 1; } }
    .button__register [type='button']:hover, .button__register [type='button']:focus {
      -webkit-transition: opacity 0.3s ease-in-out, 0.3s 0.3s ease-in-out, ease-in-out 0.3s ease-in-out, -webkit-transition 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out, 0.3s 0.3s ease-in-out, ease-in-out 0.3s ease-in-out, -webkit-transition 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out, transition 0.3s ease-in-out, 0.3s 0.3s ease-in-out, ease-in-out 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out, transition 0.3s ease-in-out, 0.3s 0.3s ease-in-out, ease-in-out 0.3s ease-in-out, -webkit-transition 0.3s ease-in-out;
      opacity: 0.6;
      border-color: #EB9A02; }

#content {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 40px; }
  #content p {
    text-align: justify;
    margin: 0 0 15px; }
  #content ul, #content ol {
    margin: 0;
    padding-left: 20px; }
  #content li {
    margin-bottom: 4px; }
  #content a {
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    color: #F8E5AD;
    text-decoration: none;
    border: 1px solid transparent;
    outline: 1px solid transparent; }
    #content a:hover {
      color: #EB9A02; }
    #content a:focus {
      border-color: #EB9A02; }

#footer {
  padding: 20px 0 16px;
  font-size: 12px;
  line-height: 1;
  text-align: center; }

.footer__info {
  font: 10px/1 "Roboto", "Arial", "Helvetica Neue", "Helvetica", sans-serif; }
  @media (min-width: 768px) {
    .footer__info {
      font-size: 12px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .footer__info strong,
  .footer__info em {
    font-style: normal;
    display: block;
    margin-bottom: 4px; }
    .footer__info strong [class^='icon-'],
    .footer__info em [class^='icon-'] {
      color: #EB9A02;
      margin-right: 8px; }
  .footer__info address {
    font-style: normal;
    display: inline-block;
    vertical-align: middle; }
  .footer__info a {
    text-decoration: none;
    color: #F8E5AD;
    letter-spacing: 0.5px;
    border: 1px solid transparent;
    outline: 1px solid transparent; }
    .footer__info a:hover {
      -webkit-transition: 0.3s 0.3s ease-in-out, ease-in-out 0.3s ease-in-out, -webkit-transition 0.3s ease-in-out;
      transition: 0.3s 0.3s ease-in-out, ease-in-out 0.3s ease-in-out, -webkit-transition 0.3s ease-in-out;
      transition: transition 0.3s ease-in-out, 0.3s 0.3s ease-in-out, ease-in-out 0.3s ease-in-out;
      transition: transition 0.3s ease-in-out, 0.3s 0.3s ease-in-out, ease-in-out 0.3s ease-in-out, -webkit-transition 0.3s ease-in-out;
      color: #EB9A02; }
    .footer__info a:focus {
      border-color: #EB9A02; }
/*# sourceMappingURL=main.css.map */