.slide-fade-enter-active {
    transition: all 0.3s ease;
}

.slide-fade-leave-active {
    transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

.fade-in-item {
    display: inline-block;
}

.fade-in-enter-active,
.fade-in-leave-active {
    transition: all 0.3s linear var(--transition-delay);
}

.fade-in-enter,
.fade-in-leave-to {
    opacity: 0;
    transform: translateY(30px);
}

.fade-item {
    display: inline-block;
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.3s linear;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}
