@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(~vue2-datepicker/index.css);
@import url(components/toggle.css);
@import url(components/animation.css);
@import url(components/editor.css);
@import url(components/calendar.css);
@import url(components/modal.css);
@import url(components/scroll.css);

@import url(pages/static.css);

input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#wrapper {
    @apply h-screen flex flex-col bg-gray-800 text-gray-500 relative overflow-hidden;
}

#main {
    height: calc(100% - 92px);
    @apply flex flex-grow;
}

#main>* {
    @apply overflow-y-auto overflow-x-hidden;
}

#sidebar {
    width: 280px;
    @apply bg-gray-700 flex-grow-0 flex-shrink-0;
}

.slide-in-enter-active,
.slide-in-leave-active {
    max-height: 400px;
    transition: max-height 0.5s ease;
    will-change: max-height;
}

.slide-in-enter-from,
.slide-in-leave-to {
    max-height: 0;
}